#root{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.disco{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.disco span{
  display: block;
}

.disco img{
  display: block;
  max-width: 280px;
}

.details{

}
